*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Local
local.properties
*.iml
.idea/
.gradle/
build/
*.apk
!ApkGuard_v3.0.apk
app/build/
app/build/
